.search  {
    color: teal;
    border-radius: 12px;
    width: 100px;
    height: 30px;
    border: 2px solid;
    border-color: teal;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    }
.plus  {
    background-color: teal;
    color: antiquewhite;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    font-size: x-large;
    margin: 10px;
}
.createAccount  {
    background-color: blue;
    color: azure;
    border: solid black;
    width: 150px;
    height: 30px;
    margin: 10px;
    box-shadow: 5px 5px black;
}